<template>
  <div>
    <div class="app-container">
      <el-col :span="12">
        <img :src="img_403" alt="404" class="img-style">
      </el-col>
      <el-col :span="12">
        <div style="margin-left: 100px;margin-top: 60px">
          <h1 class="color-main">OOPS!</h1>
          <h2 style="color: #606266">很抱歉，你没有这个功能的管理权限！</h2>
          <div style="color:#909399;font-size: 14px">请检查您的账号信息是否正确，请点击以下按钮返回主页或者发送错误报告。</div>
          <el-button style="margin-top: 20px" type="primary" round @click="handleGoMain">返回首页</el-button>
        </div>
      </el-col>
    </div>
  </div>
</template>

<script>
  import img_403 from '@/assets/images/gif_403.gif';

  export default {
    name: 'wrongPage',
    data() {
      return {
        img_403
      }
    },
    methods: {
      handleGoMain() {
        this.$router.push({path: '/'})
      }
    },
  }
</script>

<style scoped>
  .app-container {
    width: 80%;
    margin: 120px auto;
  }

  .img-style {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
</style>
