<template>
  <div style="margin-top: 50px">
    <el-form :model="value" :rules="rules" label-width="120px" style="width: 720px" size="small">
      <el-form-item :label="$i18n.t('robotMgt.robotName') + ':'" prop="name">
        <el-input v-model="value.name"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.type') + ':'">
        <el-select v-model="value.type" :placeholder="$i18n.t('robotMgt.chooseType')">
          <el-option v-for="item in robotAttributeCategoryOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Mac address:" prop="macAddress">
        <el-input v-model="value.macAddress"/>
      </el-form-item>
      <el-form-item label="Second Mac address:">
        <el-input v-model="value.macAddressSecond"/>
      </el-form-item>
      <el-form-item label="IP address:" prop="ipAddress">
        <el-input v-model="value.ipAddress"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.row') + ':'" prop="rows">
        <el-input v-model.number="value.rows"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.item_max') + ':'" prop="columns">
        <el-input v-model.number="value.maxAmount"/>
      </el-form-item>
<!--      <el-form-item :label="$i18n.t('robotMgt.row_max') + ':'" prop="columns">-->
<!--        <el-input v-model.number="value.maxRows"/>-->
<!--      </el-form-item>-->
      <el-form-item :label="$i18n.t('robotMgt.country') + ':'" prop="country">
        <el-input v-model="value.country"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.city') + ':'" prop="city">
        <el-input v-model="value.city"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.place') + ':'" prop="place">
        <el-input v-model="value.place"/>
      </el-form-item>
      <el-form-item :label="$i18n.t('robotMgt.robotPhoto') + ':'">
        <multi-upload v-model="selectProductPics" />
      </el-form-item>
      <el-form-item style="text-align: center">
        <el-button type="primary" size="medium"
                   @click="handleNext">{{$i18n.t('buttons.confirm')}} {{$i18n.t(this.isEdit?'buttons.update':'buttons.add')}}
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import SingleUpload from '@/components/Upload/singleUpload'
  import MultiUpload from '@/components/Upload/multiUpload'

  export default {
    name: "RobotAttrDetail",
    components: {SingleUpload, MultiUpload},
    props: {
      value: Object,
      isEdit: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        //编辑模式时是否初始化成功
        hasEditCreated:false,
        //机器人分类下拉选项
        robotAttributeCategoryOptions: [],
        //选中的机器人类型
        selectProductParam: [],
        //选中的商品属性图片
        selectRobotAttrPics: [],
        rules:{
          name: [
            {required: true, message: '请输入机器人名称', trigger: 'blur'},
            {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
          ],
          macAddress: [{required: true, message: '请输入机器人mac address', trigger: 'blur'}],
          columns: [{type: 'number', message: '列数只能是数字'}],
          rows: [{type: 'number', message: '行数只能是数字'}],
        }
      }
    },
    computed: {
      //是否有商品属性图片
      hasAttrPic() {
        return this.selectRobotAttrPics.length >= 1;

      },
      //商品的编号
      productId(){
        return this.value.id;
      },
      //机器人的图片
      selectProductPics: {
        get:function () {
          // console.log("pic get get");
          // console.log(this.value.pic);
          let pics = [];
          if(this.value.pic === undefined || this.value.pic == null || this.value.pic === ''){
            return pics;
          }
          let albumPics = this.value.pic.split(',');
          for(let i=0;i<albumPics.length;i++){
            pics.push(albumPics[i]);
          }
          return pics;
        },
        set:function (newValue) {
          // console.log(newValue);
          // console.log(this.value.pic );
          if (newValue == null || newValue.length === 0) {
            this.value.pic = null;
          } else {
            this.value.pic = '';
            if (newValue.length > 0) {
              for (let i = 0; i < newValue.length; i++) {
                this.value.pic += newValue[i];
                if (i !== newValue.length - 1) {
                  this.value.pic += ',';
                }
              }
            }
          }
          console.log(this.value.pic);
        },
      }
    },
    created() {
      this.getRobotAttrCateList();
    },
    watch: {
      productId:function (newValue) {
        if(!this.isEdit)return;
        if(this.hasEditCreated)return;
        if(newValue===undefined||newValue==null||newValue===0)return;
        this.handleEditCreated();
      }
    },
    methods: {
      handleEditCreated() {
        //根据商品属性分类id获取属性和参数
        if(this.value.type!=null){
          this.handleProductAttrChange(this.value.type);
        }
        this.hasEditCreated=true;
      },
      getRobotAttrCateList() {

        this.robotAttributeCategoryOptions.push({label: "2轮型", value: 1});
        this.robotAttributeCategoryOptions.push({label: "4轮型", value: 2});
        // todo
        // getRobotCategory().then(response => {
        //   this.robotAttributeCategoryOptions = [];
        //   let list = response.data.data;
        //   for (let i = 0; i < list.length; i++) {
        //     this.robotAttributeCategoryOptions.push({label: list[i].name, value: list[i].id});
        //   }
        // });
      },
      handleProductAttrChange(value) {
        // this.getProductAttrList(0, value);
        // this.getProductAttrList(1, value);
      },
      handleNext() {

        this.$emit('finishCommit',this.isEdit);
      }
    }
  }
</script>

<style scoped>
  .littleMarginLeft {
    margin-left: 10px;
  }

  .littleMarginTop {
    margin-top: 10px;
  }

  .paramInput {
    width: 250px;
  }

  .paramInputLabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px
  }

  .cardBg {
    background: #F8F9FC;
  }
</style>
