<template> 
  <el-card class="form-container" shadow="never">
    <el-steps :active="active" finish-status="success" align-center>
      <el-step :title="$i18n.t('robotMgt.inputAttr')"/>
    </el-steps>
    <robot-attr-detail
      v-show="true"
      v-model="robotParam"
      :is-edit="isEdit"
      @finishCommit="finishCommit">
    </robot-attr-detail>
  </el-card>
</template>
<script>
  import RobotAttrDetail from './RobotAttrDetail';
  import {createRobot,getRobotInfo,updateRobot} from '@/api/robot';

  const defaultRobotParam = {
    macAddress:'',
    macAddressSecond:'',
    ipAddress:'',
    name: '',
    rows:0,
    columns:1,
    maxAmount:0,
    maxRows:0,
    pic: '',
    country:'',
    city:'',
    place:'',
    createTime:''
  };
  export default {
    name: 'RobotDetail',
    components: {RobotAttrDetail},
    props: {
      isEdit: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        active: 0,
        robotParam: Object.assign({}, defaultRobotParam),
      }
    },
    created(){
      if(this.isEdit) {
        getRobotInfo(this.$route.query.id).then(response=>{
          this.robotParam = response.data;
        });
      }
    },
    methods: {
      hideAll() {
        for (let i = 0; i < this.showStatus.length; i++) {
          this.showStatus[i] = false;
        }
      },
      finishCommit(isEdit) {
        this.$confirm('是否要提交该产品', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if(isEdit){
            updateRobot(this.$route.query.id,this.robotParam).then(response=>{
              this.$message({
                type: 'success',
                message: '提交更新成功',
                duration:1000
              });
              this.$router.back();
            });
          } else {
            createRobot(this.robotParam).then(response=>{
              this.$message({
                type: 'success',
                message: '提交创建成功',
                duration:1000
              });

            });
          }
        })
      }
    }
  }
</script>
<style>
  .form-container {
    width: 800px;
  }
</style>


