<template> 
  <div>
    <!--  Dev url need to change to prod  -->
    <el-upload
      action="http://localhost:8080/upload"
      :multiple="false"
      accept="text/csv"
      :before-upload="beforeUpload"
      :on-success="handleUploadSuccess"
    >
      <el-button size="small" type="primary">Upload</el-button>
      <div slot="tip" class="el-upload__tip">Only CSV，limited to: 50MB</div>
    </el-upload>
  </div>
</template>
<script>

  import { Loading } from 'element-ui';

  import {
    fetchDataList,
  } from '@/api/invoice';

  export default {
    name: 'singleUpload',
    props: {
      value: String
    },
    computed: {

    },
    data() {
      return {
        fullscreenLoading: false,
      };
    },
    methods: {
      emitInput(val) {
        this.$emit('input', val)
      },
      handleRemove(file, fileList) {
        this.emitInput('');
      },
      handlePreview(file) {
        this.dialogVisible = true;
      },
      beforeUpload(file) {
        console.log("file.type");
        console.log(file.type);
        const isIMAGE = file.type === 'text/csv';
        const isLt1M = file.size / 1024 / 1024 < 50;

        if (!isIMAGE) {
          this.$message.error('Only CSV format!');
        }
        if (!isLt1M) {
          this.$message.error('Limited to: 10MB');
        }
        return isIMAGE && isLt1M;
      },
      handleUploadSuccess(res, file) {
        let  options = {
          fullscreen: true,
          lock:true,
          text:"Waiting for server processing data"
        };
        let loadingInstance = Loading.service(options);

        let timeOut = setInterval(() => {
          let listQuery = {
            country: null,
            pageNum: 1,
            pageSize: 5,
            customerId: null,
          };

          fetchDataList(listQuery).then(response => {
            let total = response.data.total;
            if(total>0) {
              this.$nextTick(() => { // Loading should be closed asynchronously
                loadingInstance.close();
              });
              clearInterval(timeOut);
            }
          });

        }, 3000);
      }
    }
  }
</script>
<style>

</style>


