<template> 
  <div class="app-container">
    <el-card class="filter-container" shadow="never">
      <div>
        <i class="el-icon-files" />
        <span>Upload data</span>
      </div>
      <div style="margin-top: 15px">
        <el-form :inline="true" :model="listQuery" size="small" label-width="140px">
          <el-form-item label="Please select:">
            <single-upload />
          </el-form-item>
        </el-form>
      </div>
    </el-card>
    <el-card class="filter-container" shadow="never">
      <div>
        <i class="el-icon-search" />
        <span>{{$i18n.t('buttons.filter')}}</span>
        <el-button
          style="float: right"
          @click="handleSearchList()"
          type="primary"
          size="small">
          {{$i18n.t('buttons.searchResult')}}
        </el-button>
        <el-button
          style="float: right;margin-right: 15px"
          @click="handleResetSearch()"
          size="small">
          {{$i18n.t('buttons.resetSearch')}}
        </el-button>
      </div>
      <div style="margin-top: 15px">
        <el-form :inline="true" :model="listQuery" size="small" label-width="140px">
          <el-form-item label="Customer Id:">
            <el-input style="width: 203px" v-model="listQuery.customerId" placeholder="Customer Id" />
          </el-form-item>
          <el-form-item label="Country:">
            <el-input style="width: 203px" v-model="listQuery.country" placeholder="Country"/>
          </el-form-item>
        </el-form>
      </div>
      <div>
        <i class="el-icon-tickets" />
        <span> PS:Here should be more search options, like greater than, smaller than, and some blur search.</span>
        <p>I need some time have a rest... Sorry for inconvenience :)</p>
      </div>
    </el-card>

    <div class="table-container">
      <el-table ref="productTable"
                :data="list"
                style="width: 100%"
                v-loading="listLoading"
                border>
        <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
          <template slot-scope="scope">{{scope.row.id}}</template>
        </el-table-column>
        <el-table-column label="Inovice No" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.invoiceNo}}</p>
          </template>
        </el-table-column>
        <el-table-column label="Stock Code" width="120" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.stockCode}}</p>
          </template>
        </el-table-column>
        <el-table-column label="Quantity" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.quantity}}</p>
          </template>
        </el-table-column>
        <el-table-column label="unitPrice" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.unitPrice}}</p>
          </template>
        </el-table-column>
        <el-table-column label="Invoice Date" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.invoiceDate | formatCreateTime}}</p>
          </template>
        </el-table-column>
        <el-table-column label="Customer Id" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.customerId}}</p>
          </template>
        </el-table-column>
        <el-table-column label="Country" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.country}}</p>
          </template>
        </el-table-column>

      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        layout="total, sizes,prev, pager, next,jumper"
        :page-size="listQuery.pageSize"
        :page-sizes="[5,10,15]"
        :current-page.sync="listQuery.pageNum"
        :total="total">
      </el-pagination>
    </div>

  </div>
</template>
<script>
  import {
    fetchDataList,
  } from '@/api/invoice';

  import {formatDate} from '@/utils/date';

  import SingleUpload from '@/components/Upload/singleUpload'

  const defaultListQuery = {
    country: null,
    pageNum: 1,
    pageSize: 5,
    customerId: null,
  };
  export default {
    name: "robotList",
    components: {SingleUpload},
    data() {
      return {
        listQuery: Object.assign({}, defaultListQuery),
        list: null,
        total: null,
        listLoading: false,
      }
    },
    created() {
      this.getList();
    },
    filters: {
      formatCreateTime(time) {
        let date = new Date(time);
        return formatDate(date, 'yyyy-MM-dd hh:mm')
      },

    },
    methods: {
      te(args){
        const hasKey = this.$te(args);
        if (hasKey) {
          const result = this.$i18n.t(args);
          return result
        }
        return args
      },
      getList() {
        this.listLoading = true;
        fetchDataList(this.listQuery).then(response => {
          this.listLoading = false;
          this.list = response.data.list;
          this.total = response.data.total;
        });
      },
      handleSizeChange(val) {
        this.listQuery.pageNum=1;
        this.listQuery.pageSize=val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.pageNum=val;
        this.getList();
      },
      handleSearchList() {
        this.listQuery.pageNum = 1;
        this.getList();
      },
      handleResetSearch() {
        this.listQuery = Object.assign({}, defaultListQuery);
      },
    }
  }
</script>
