<template>
  <div class="app-container">
    <el-card class="operate-container" shadow="never">
      <i class="el-icon-tickets"/>
      {{$i18n.t('robotMgt.robotName')}}：<span style="font-style: italic">{{robotName}}</span>, {{$i18n.t('robotMgt.robotId')}}：<span style="font-style: italic">{{robotMacAddress}}</span>
    </el-card>
    <div class="table-container">
      <el-table ref="productTable"
                :data="list"
                style="width: 100%"
                v-loading="listLoading"
                border>
        <el-table-column :label="$i18n.t('robotMgt.scenario')" width="120" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.scenarioName}}</p>
            <p>{{scope.row.scenarioNameEn}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.customizeQuestion')" align="center">
          <template slot-scope="scope">
<!--            <p v-for="item in JSON.parse(scope.row.customizeAsk)">-->
<!--              {{item.locale}}:{{item.message}}-->
<!--            </p>-->
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.customizeAnswer')" align="center">
          <template slot-scope="scope">
            <p v-for="item in JSON.parse(scope.row.customizeAnswer)">
              {{item.locale}}:{{item.message}}
            </p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('components.operation')" width="160" align="center">
          <template slot-scope="scope">
            <p>
              <el-button
                size="mini"
                @click="showCustomizeDialogWindow(scope.$index, scope.row)">{{$i18n.t('buttons.edit')}}
              </el-button>
            </p>
            <p>
              <el-button
                size="mini"
                @click="deleteScenario(scope.$index, scope.row)" type="danger">{{$i18n.t('buttons.delete')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog
      :title="$i18n.t('robotMgt.customizeDialog')"
      :visible.sync="showCustomizeDialog.dialogVisible"
      :fullscreen="true"
      :before-close="handleCloseDialog">
      <span>{{$i18n.t('robotMgt.robotName')}}：</span>
      <span>{{robotName}} </span>
      <span>{{$i18n.t('robotMgt.scenarioName')}}：</span>
      <el-select v-model="currentScenarioSelect">
        <el-option v-for="item in scenarioList"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value" />
      </el-select>
      <el-table style="width: 100%;margin-top: 20px"
                :data="showCustomizeDialog.list"
                border>
        <el-table-column
          :label="$i18n.t('robotMgt.language')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.locale}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$i18n.t('robotMgt.question')"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.ask}}</p>
            <p>
              <el-button
                size="mini"
                @click="modifyDialog(scope.$index, scope.row.ask,'ask')">{{$i18n.t('buttons.edit')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$i18n.t('robotMgt.answer')"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.answer}}</p>
            <p>
              <el-button
                size="mini"
                @click="modifyDialog(scope.$index, scope.row.answer,'answer')">{{$i18n.t('buttons.edit')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$i18n.t('components.operation')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <p>
              <el-button
                size="mini"
                type="danger"
                @click="deleteThisDialog(scope.$index, scope.row)">{{$i18n.t('buttons.delete')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top: 5px; width: 100%">
        <el-select style="width: 20%" v-model="setLanguage">
          <el-option
            v-for="lan in supportLanguage"
            :key="lan.value"
            :label="lan.label"
            :value="lan.value">
          </el-option>
        </el-select>
      </div>
      <div style="margin-top: 5px; width: 100%">
        <el-input :placeholder="$i18n.t('robotMgt.pleaseInputQuestion')" style="width: 100%" v-model="setAskSentence"/>
      </div>
      <div style="margin-top: 5px; width: 100%">
        <el-input :placeholder="$i18n.t('robotMgt.pleaseInputAnswer')" style="width: 100%" v-model="setAnswerSentence"/>
      </div>
      <div style="margin-top: 5px; width: 100%">
        <el-button size="mini" @click="addNewDialog">{{$i18n.t('buttons.add')}}</el-button>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button size="mini" @click="updateSentences">{{$i18n.t('buttons.finish')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {
    getNLPDetail,
    updateNLPDetail,
    getNLPStageDetail
  } from '@/api/robot'

    export default {
      name: "robotNLPEdit",
      data() {
        return {
          showCustomizeDialog: {
            dialogVisible: false,
            list: []
          },
          robotName:'',
          robotMacAddress:'',
          list: [],
          listLoading:  false,
          setLanguage:'',
          setAskSentence:'',
          setAnswerSentence:'',
          supportLanguage:[],
          scenarioList:[],
          currentScenario:["",""],
          currentScenarioSelect:0,
          updateObject:{
            id:null,
            robotId:null,
            scenarioId:null,
            customizeAsk:null,
            customizeAnswer:null
          }
        }
      },
      created() {
        this.initPage();
        this.getDetail();
      },
      filters: {
        formatJson(str) {
          try {
            let json = JSON.parse(str);
            console.log(json);
            console.log(json[0].message);
            return json[0].message;
          } catch (e) {
            console.error(e);
            return "456";
          }
        }
      },
      methods: {
        initPage() {
          this.robotName = this.$route.query.robot_name;
          this.robotMacAddress = this.$route.query.mac_address;
          this.supportLanguage = [
            {label:"中文",value:"zh_cn"},
            {label:"英文",value:"en"},
            {label:"日文",value:"jp"}
          ];
          this.currentScenarioSelect = 1;
          getNLPStageDetail().then(response => {
            let result = response.data;
            result.forEach(item=>{
              this.scenarioList.push({
                label: item.name + " " + item.nameEn,
                value: item.id
              });
            });
          });

        },
        getDetail() {
          this.listLoading = true;
          getNLPDetail(this.$route.query.id).then(response => {
            this.listLoading = false;
            this.list = response.data;
          });
        },
        showCustomizeDialogWindow(index, row) {
          this.showCustomizeDialog.dialogVisible = true;

          this.currentScenarioSelect = row.scenarioId;
          this.currentScenario = [row.scenarioName,row.scenarioNameEn];

          let ask = [];
          let answer = [];
          if(row.customizeAsk.length > 0) ask = JSON.parse(row.customizeAsk);
          if(row.customizeAnswer.length > 0) answer = JSON.parse(row.customizeAnswer);

          console.log(ask);
          console.log(answer);

          for(let i=0; i < answer.length; i++) {
            this.showCustomizeDialog.list.push({
              locale: answer[i].locale,
              ask: ask[i] ? ask[i].message : "",
              answer: answer[i] ? answer[i].message: "",
            })
          }
          console.log(this.showCustomizeDialog.list);
          this.updateObject = {
            id:row.id,
            robotId: row.robotId,
            scenarioId: row.scenarioId,
            customizeAsk: row.customizeAsk,
            customizeAnswer: row.customizeAnswer,
            createTime: row.createTime
          }
        },
        deleteScenario(row) {

        },
        modifyDialog(index, message, type) {
          this.$prompt('请输入场景对话内容', '自定义语句', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            inputValue:message
            // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
            // inputErrorMessage: 'Invalid Email'
          }).then(({ value }) => {
            this.$message({
              type: 'success',
              message: '更新成功。'
            });
            this.showCustomizeDialog.list[index][type] = value;
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '输入取消'
            });
          });
        },
        addNewDialog() {
          let flag = 0;
          this.showCustomizeDialog.list.forEach(item=>{
            if(item.locale === this.setLanguage) {
              item.ask = this.setAskSentence;
              item.answer = this.setAnswerSentence;
              flag = 1;
            }
          });
          //if no founding to update, then add new one
          if(flag === 0) {
            this.showCustomizeDialog.list.push({
              "locale": this.setLanguage,
              "ask": this.setAskSentence,
              "answer": this.setAnswerSentence,
            })
          }
          this.setLanguage = '';
          this.setAskSentence = '';
          this.setAnswerSentence = '';
        },
        deleteThisDialog(index,row) {
          console.log(index);
          console.log(this.showCustomizeDialog.list[index]);
          this.showCustomizeDialog.list.splice(index-1,1);
          console.log(this.showCustomizeDialog.list[index]);
        },
        handleCloseDialog() {
          this.setLanguage = '';
          this.setAskSentence = '';
          this.setAnswerSentence = '';
          this.showCustomizeDialog.dialogVisible = false;
        },
        updateSentences() {
          let ask = [];
          let answer = [];
          this.showCustomizeDialog.list.forEach(item=>{
            ask.push({
              locale: item.locale,
              message: item.ask
            });
            answer.push({
              locale: item.locale,
              message: item.answer
            });
          });
          this.updateObject.customizeAnswer = JSON.stringify(answer);
          this.updateObject.customizeAsk = JSON.stringify(ask);
          console.log(this.updateObject);
          updateNLPDetail(this.updateObject).then(result => {
              this.getDetail();
          });
          this.showCustomizeDialog.list = [];
          this.showCustomizeDialog.dialogVisible = false;
        }
      },
    }
</script>

<style scoped>

</style>
