<template> 
  <div class="app-container">
    <el-card class="operate-container" shadow="never">
      <i class="el-icon-tickets"/>
      <span>{{$i18n.t('components.dataList')}}</span>
    </el-card>
    <div class="table-container">
      <el-table ref="productTable"
                :data="list"
                style="width: 100%"
                v-loading="listLoading"
                border>

        <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
          <template slot-scope="scope">{{scope.row.id | formatScenarioName}}</template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.photo')" width="120" align="center">
          <template slot-scope="scope">
            <el-image style="height: 110px" :src="scope.row.pic" />
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.robotName')" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.name}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.customizeDialog')" width="120" align="center">
          <template slot-scope="scope">
            <p>{{$i18n.t('robotMgt.number')}} :{{scope.row.total}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('components.operation')" width="160" align="center">
          <template slot-scope="scope">
            <p>
              <el-button
                size="mini"
                @click="gotoEdit(scope.$index, scope.row)">{{$i18n.t('buttons.edit')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
  import {
    getNLPList
  } from '@/api/robot'
  import {formatDate} from '@/utils/date';

  const defaultListQuery = {
    name: null,
    pageNum: 1,
    pageSize: 5,
    robotId: null,
    type: null
  };
  export default {
    name: "robotNLP",
    data() {
      return {
        listQuery: Object.assign({}, defaultListQuery),
        list: null,
        total: null,
        listLoading: false,
        robotName:'',
        current_robot_id: 0,
        robotCateOptions:[],
      }
    },
    watch: {
      selectRobotCateValue: function (newValue) {
        if (newValue != null && newValue.length === 2) {
          this.listQuery.productCategoryId = newValue[1];
        } else {
          this.listQuery.productCategoryId = null;
        }

      }
    },
    filters: {
      formatCreateTime(time) {
        let date = new Date(time);
        return formatDate(date, 'yyyy-MM-dd hh:mm')
      }
    },
    created() {
      this.getList();
    },
    methods: {
      getList() {
        this.listLoading = true;
        getNLPList(this.listQuery).then(response => {
          this.listLoading = false;
          this.list = response.data.list;
          this.total = response.data.total;
        });
      },
      gotoEdit(index, row){
        this.$router.push({path:'/rms/robotNLPEdit',
          query :{
            id:row.id,
            mac_address: row.macAddress,
            robot_name: row.name
          }
        });
      },
    }
  }
</script>


