<template> 
  <div class="app-container">
    <el-card class="filter-container" shadow="never">
      <div>
        <i class="el-icon-search" />
        <span>{{$i18n.t('buttons.filter')}}</span>
        <el-button
          style="float: right"
          @click="handleSearchList()"
          type="primary"
          size="small">
          {{$i18n.t('buttons.searchResult')}}
        </el-button>
        <el-button
          style="float: right;margin-right: 15px"
          @click="handleResetSearch()"
          size="small">
          {{$i18n.t('buttons.resetSearch')}}
        </el-button>
      </div>
      <div style="margin-top: 15px">
        <el-form :inline="true" :model="listQuery" size="small" label-width="140px">
          <el-form-item :label="$i18n.t('robotMgt.inputKeyword') + ':'">
            <el-input style="width: 203px" v-model="listQuery.name" :placeholder="$t('robotMgt.robotName')" />
          </el-form-item>
          <el-form-item :label="$i18n.t('robotMgt.inputKeyword') + ':'">
            <el-input style="width: 203px" v-model="listQuery.type" :placeholder="$i18n.t('robotMgt.robotType')"/>
          </el-form-item>
<!--          <el-form-item label="机器人分类：">-->
<!--            <el-cascader-->
<!--              clearable-->
<!--              v-model="selectRobotCateValue"-->
<!--              :options="robotCateOptions">-->
<!--            </el-cascader>-->
<!--          </el-form-item>-->
        </el-form>
      </div>
    </el-card>
    <el-card class="operate-container" shadow="never">
      <i class="el-icon-tickets"/>
      <span>{{$i18n.t('components.dataList')}}</span>
      <el-button
        class="btn-add"
        @click="handleAddProduct"
        size="mini">
        {{$i18n.t('buttons.add')}}
      </el-button>
      <el-button
        class="btn-add"
        @click="handleChildrenListApplyRobot"
        style="margin-right: 10px"
        size="mini">
        {{$i18n.t('buttons.handle_adoption')}}
      </el-button>
    </el-card>
    <div class="table-container">
      <el-table ref="productTable"
                :data="list"
                style="width: 100%"
                v-loading="listLoading"
                border>
        <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
          <template slot-scope="scope">{{scope.row.id}}</template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.photo')" width="120" align="center">
          <template slot-scope="scope">
            <el-image style="height: 110px" :src="scope.row.pic" />
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.robotName')" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.name}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.robotType')" width="120" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.type}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.row')" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.rows}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.row_max')" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.maxAmount}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('components.date')" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.createTime | formatCreateTime}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('components.operation')" width="160" align="center">
          <template slot-scope="scope">
            <p>
              <el-button
                size="mini"
                @click="handleShowAssignedLogDialog(scope.$index, scope.row)">
                {{$t('buttons.adoption')}}
              </el-button>
              <el-button
                size="mini"
                @click="handleUpdateProduct(scope.$index, scope.row)">
                {{$t('buttons.edit')}}
              </el-button>
            </p>
            <p>
              <el-button
                size="mini"
                @click="handleShowMaintainLogDialog(scope.$index, scope.row)">
                {{$t('buttons.maintain_record')}}
              </el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">
                {{$t('buttons.delete')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
  <div class="pagination-container">
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      layout="total, sizes,prev, pager, next,jumper"
      :page-size="listQuery.pageSize"
      :page-sizes="[5,10,15]"
      :current-page.sync="listQuery.pageNum"
      :total="total">
    </el-pagination>
  </div>
    <el-dialog
      :title="$t('robotMgt.maintenance.maintenance_record')"
      :visible.sync="showMaintainLog.dialogVisible"
      width="50%">
      <span>{{$t('robotMgt.maintenance.mac')}}：</span>
      <span>{{mac_address}}</span>

      <el-table style="width: 100%;margin-top: 20px"
                :data="showMaintainLog.list"
                border>
        <el-table-column
          :label="$t('robotMgt.maintenance.record_id')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.id}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.maintenance.time')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.createTime | formatCreateTime}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.maintenance.pic_id')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.adminId}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.maintenance.type')"
          width="80"
          align="center">
          <template slot-scope="scope">
            {{scope.row.type}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.maintenance.remark')"
          align="center">
          <template slot-scope="scope">
              {{scope.row.remark}}
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-container" style="float: none">
        <el-pagination
          background
          @size-change="handleMaintainLogSizeChange"
          @current-change="handleMaintainLogCurrentChange"
          layout="total, sizes,prev, pager, next,jumper"
          :page-size="showMaintainLog.listQuery.pageSize"
          :page-sizes="[5,10,15]"
          :current-page.sync="showMaintainLog.listQuery.pageNum"
          :total="showMaintainLog.total">
        </el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showMaintainLog.dialogVisible = false">
          {{$t('buttons.finish')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$t('robotMgt.adopt.adoption_list')"
      :visible.sync="showAssignedLog.dialogVisible"
      width="80%">
      <span>{{$t('robotMgt.adopt.mac')}}:</span>
      <span>{{mac_address}}</span>

      <el-table style="width: 100%;margin-top: 20px"
                :data="showAssignedLog.logList"
                border>
        <el-table-column
          :label="$t('robotMgt.adopt.adopter')"
          align="center">
          <template slot-scope="scope">
            <p>ID：{{scope.row.id}}</p>
            <p>{{$t('robotMgt.adopt.adopter_type')}}：{{scope.row | identityFilter}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.adopt.adopter_name')"
          width="100"
          align="center">
          <template slot-scope="scope">
            {{scope.row.nickName}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.adopt.create_time')"
          width="100"
          align="center">
          <template slot-scope="scope">
            {{scope.row.createTime | formatCreateTime}}
          </template>
        </el-table-column>
        <el-table-column :label="$t('robotMgt.adopt.operation')" width="120" align="center">
          <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleRemoveAdopter(scope.row)">
                {{$t('robotMgt.adopt.cancel')}}
              </el-button>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAssignedLog.dialogVisible = false">
          {{$t('buttons.finish')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.apply_robot.title')"
      :visible.sync="showApplyRobotChildren.dialogVisible"
      fullscreen>
      <!--   Assignment of robot   -->
      <el-dialog
        :title="$t('robotMgt.assign_robot.title')"
        :visible.sync="showAssignmentRobot.dialogVisible"
        append-to-body
        width="70%">
        <span>{{$t('robotMgt.assign_robot.amount')}}：</span>
        <span>{{showAssignmentRobot.current_applied_amount}}</span>
        <span> {{$t('robotMgt.assign_robot.available')}}:</span>

        <el-table style="width: 100%;margin-top: 20px"
                  :data="showAssignmentRobot.list"
                  @selection-change="handleApplyRobotSelectionChange"
                  border>
          <el-table-column type="selection" width="60" align="center" />
          <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.id}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.photo')" width="120" align="center">
            <template slot-scope="scope">
              <el-image style="height: 110px" :src="scope.row.pic" />
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.robotName')" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.name}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.robotType')" width="120" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.type}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.row')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.rows}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.row_max')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.maxAmount}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('components.date')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.createTime | formatCreateTime}}</p>
            </template>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
        <el-button @click="showAssignmentRobot.dialogVisible = false">
          {{$t('buttons.cancel')}}
        </el-button>
        <el-button @click="handleApproveAssignmentRobot">
          {{$t('buttons.confirm')}}
        </el-button>
      </span>
      </el-dialog>
      <!--   Assignment of robot  end! -->
      <!--      <el-row>-->
      <!--        <el-col :span="6">-->
      <!--          <el-select v-model="showApplyRobot.applyRobotObj.country" clearable @change="handleChangeCity">-->
      <!--            <el-option-->
      <!--              v-for="item in showApplyRobot.listCountry"-->
      <!--              :key="item.value"-->
      <!--              :label="item.label"-->
      <!--              :value="item.value">-->
      <!--            </el-option>-->
      <!--          </el-select>-->
      <!--        </el-col>-->
      <!--        <el-col :span="6">-->
      <!--          <el-select v-model="showApplyRobot.applyRobotObj.city" clearable>-->
      <!--            <el-option-->
      <!--              v-for="item in showApplyRobot.listCity"-->
      <!--              :key="item.value"-->
      <!--              :label="item.label"-->
      <!--              :value="item.value">-->
      <!--            </el-option>-->
      <!--          </el-select>-->
      <!--        </el-col>-->
      <!--        <el-col :span="6">-->
      <!--          <el-input type="number" v-model.number="showApplyRobot.applyRobotObj.amount" style="width:70%" />-->
      <!--        </el-col>-->
      <!--        <el-col :span="6">-->
      <!--          <el-button type="primary" @click="handleSubmitAnApply" style="width: 70%">-->
      <!--            {{$t('buttons.apply')}}-->
      <!--          </el-button>-->
      <!--        </el-col>-->
      <!--      </el-row>-->
<!--      <el-divider></el-divider>-->
      <div class="table-container">
        <el-table
          :data="showApplyRobotChildren.list"
          style="width: 100%"
          v-loading="showApplyRobotChildren.listLoading"
          border>
          <el-table-column :label="$i18n.t('robotMgt.id')" width="50" align="center">
            <template slot-scope="scope">{{scope.row.id}}</template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.status')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.status | applyStatusFilter(te)}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.amount')" width="50" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.amount}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.merchant_name')" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.merchantName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.admin_name')" width="120" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_email')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminEmail}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_mobile')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminMobile}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.country')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.country}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.city')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.city}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.create_time')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.createTime | formatCreateTime}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('components.operation')" width="160" align="center">
            <template slot-scope="scope">
              <p>
                <el-button
                  size="mini"
                  type="success"
                  @click="handleShowAssignmentRobot(scope.$index, scope.row)">
                  {{$t('buttons.approve')}}
                </el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleRejectAssignmentRobot(scope.row)">
                  {{$t('buttons.reject')}}
                </el-button>
              </p>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination-container" style="float: none">
        <el-pagination
          background
          @size-change="handleChildrenRobotApplySizeChange"
          @current-change="handleChildrenRobotApplyCurrentChange"
          layout="total, sizes,prev, pager, next,jumper"
          :page-size="showApplyRobotChildren.listQuery.pageSize"
          :page-sizes="[5,10,15]"
          :current-page.sync="showApplyRobotChildren.listQuery.pageNum"
          :total="showApplyRobotChildren.total">
        </el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showApplyRobotChildren.dialogVisible = false">
          {{$t("buttons.confirm")}}
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  import {
    fetchRobotList,
    deleteRobot,
    robotAdopter,
    removeAdopter,
    showMaintainLogsAPI,
    getChildrenRobotApplication,
    getFreeRobot,
    addAdopter,
    rejectApplicationRobot
  } from '@/api/robot';

  import {formatDate} from '@/utils/date';

  const defaultListQuery = {
    name: null,
    pageNum: 1,
    pageSize: 5,
    robotId: null,
    type: null,
    merchantId: null
  };
  export default {
    name: "robotList",
    data() {
      return {
        listQuery: Object.assign({}, defaultListQuery),
        list: null,
        total: null,
        listLoading: false,
        mac_address:'',
        current_robot_id: 0,
        robotCateOptions:[],
        showRefillLog:{
          dialogVisible:false,

        },
        showMaintainLog: {
          dialogVisible:false,
          listLoading: false,
          listQuery: Object.assign({}, defaultListQuery),
          list: null,
          total: 0
        },
        showAssignmentRobot: {
          current_applied_amount:0,
          current_merchantId:0,
          current_applicationId:0,
          multipleSelection:[],
          dialogVisible:false,
          listLoading: false,
          listQuery: Object.assign({}, defaultListQuery),
          list: null,
          total: 0
        },
        showAssignedLog: {
          dialogVisible:false,
          logList:null
        },
        showApplyRobotChildren: {
          dialogVisible:false,
          listLoading:false,
          listCountry:[
            {label:'Singapore',value:'singapore'},
            {label:'China',value:'china'}
          ],
          listCity:[],
          applyRobotObj: {
            country:'',
            city:'',
            amount:0,
            merchantId:0,
            adminId:0,
          },
          list:null,
          total:0,
          listQuery:{
            userId:0,
            status:null,
            pageSize:5,
            pageNum:1
          }
        },
      }
    },
    created() {
      this.getList();
    },
    watch: {
      selectRobotCateValue: function (newValue) {
        if (newValue != null && newValue.length === 2) {
          this.listQuery.productCategoryId = newValue[1];
        } else {
          this.listQuery.productCategoryId = null;
        }

      }
    },
    filters: {
      identityFilter(value) {
        if(value.umsSalesLevel!=null) return value.umsSalesLevel.name;
        if(value.umsSupportLevel!=null) return value.umsSupportLevel.name;
        return "没有身份"
      },
      formatCreateTime(time) {
        let date = new Date(time);
        return formatDate(date, 'yyyy-MM-dd hh:mm')
      },
      applyStatusFilter(value, te) {
          switch (value) {
              case 1:
                return te('robotMgt.apply_robot.status_approve');
              case 0:
                return te('robotMgt.apply_robot.status_reject');
              case 2:
                return te('robotMgt.apply_robot.status_pending');
          }
      }

    },
    methods: {
      te(args){
        const hasKey = this.$te(args);
        if (hasKey) {
          const result = this.$i18n.t(args);
          return result
        }
        return args
      },
      getRobotAdopter(id) {
        robotAdopter(id).then(result => {
          this.showAssignedLog.logList = result.data
        })
      },
      getList() {
        this.listLoading = true;
        fetchRobotList(this.listQuery).then(response => {
          this.listLoading = false;
          this.list = response.data.list;
          this.total = response.data.total;
        });
      },
      handleShowRefillLogDialog(index,row){
        this.showRefillLog.dialogVisible=true;
        this.mac_address = row.macAddress;
        this.current_robot_id = row.id;

      },
      handleShowMaintainLogDialog(index,row){
        this.showMaintainLog.dialogVisible=true;
        this.mac_address = row.macAddress;
        this.current_robot_id = row.id;
        this.showMaintainLog.listQuery.robotId = row.id;
        this.getMaintainLogList();

      },
      getMaintainLogList() {
        this.showMaintainLog.listLoading = true;

        console.log(this.showMaintainLog.listQuery);
        showMaintainLogsAPI(this.showMaintainLog.listQuery).then(response => {
          this.showMaintainLog.listLoading = false;
          this.showMaintainLog.list = response.data.list;
          this.showMaintainLog.total = response.data.total;
        });

      },
      handleShowAssignedLogDialog(index,row){
        this.showAssignedLog.dialogVisible=true;
        this.current_robot_id = row.id;
        this.mac_address = row.macAddress;
        this.getRobotAdopter(row.id);
      },
      handleSearchList() {
        this.listQuery.pageNum = 1;
        this.getList();
      },
      handleAddProduct() {
        this.$router.push({path:'/rms/addRobot'});
      },
      handleResetSearch() {
        this.selectProductCateValue = [];
        this.listQuery = Object.assign({}, defaultListQuery);
      },
      handleDelete(index, row){
        this.$confirm('是否要进行删除操作?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          deleteRobot(row.id).then(response=>{
            console.debug(response.data);
            location.reload();
          });
        });
      },
      handleRemoveAdopter(row) {
        this.$confirm('是否要解除领养操作?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let removeObj = {
            adminId: row.id,
            robotId: this.current_robot_id
          };
          console.log(removeObj);
          removeAdopter(removeObj).then(result => {
            console.log(result.data);
            this.getRobotAdopter(this.current_robot_id);
          });
        });


      },
      handleUpdateProduct(index,row){
        this.$router.push({path:'/rms/updateRobot',query:{id:row.id}});
      },
      handleMaintainLogSizeChange(val) {
        this.showMaintainLog.listQuery.pageNum = 1;
        this.showMaintainLog.listQuery.pageSize = val;
        this.getMaintainLogList();
      },
      handleMaintainLogCurrentChange(val) {
        this.showMaintainLog.listQuery.pageNum = val;
        this.getMaintainLogList();
      },
      handleSizeChange(val) {
        this.listQuery.pageNum=1;
        this.listQuery.pageSize=val;
        this.getList();
      },
      handleCurrentChange(val) {
        this.listQuery.pageNum=val;
        this.getList();
      },
      handleChildrenRobotApplySizeChange(val) {
        this.showApplyRobotChildren.listQuery.pageNum = 1;
        this.showApplyRobotChildren.listQuery.pageSize = val;
        this.handleListApplyRobot();
      },
      handleChildrenRobotApplyCurrentChange(val) {
        this.showApplyRobotChildren.listQuery.pageNum = val;
        this.handleListApplyRobot();
      },
      handleChildrenListApplyRobot() {
        this.showApplyRobotChildren.listQuery.userId = this.$store.getters.id;
        this.showApplyRobotChildren.dialogVisible = true;
        this.showApplyRobotChildren.listLoading = true;

        getChildrenRobotApplication(this.showApplyRobotChildren.listQuery).then(response => {
          this.showApplyRobotChildren.listLoading = false;
          this.showApplyRobotChildren.list = response.data.list;
          this.showApplyRobotChildren.total = response.data.total;
        });
      },
      handleShowAssignmentRobot(index, row) {
        this.showAssignmentRobot.dialogVisible = true;
        this.showAssignmentRobot.listLoading = true;
        this.showAssignmentRobot.current_applied_amount = row.amount;
        this.showAssignmentRobot.current_merchantId = row.merchantId;
        this.showAssignmentRobot.current_applicationId = row.id;

        getFreeRobot(1).then(response=>{
          this.showAssignmentRobot.list = response.data;
          this.showAssignmentRobot.listLoading = false;
        });

      },
      handleRejectAssignmentRobot(row) {
        rejectApplicationRobot(row.id).then(result => {
            if(result) {
              this.handleChildrenListApplyRobot();
            }
        });
      },
      handleApproveAssignmentRobot() {
        if(this.showAssignmentRobot.multipleSelection==null || this.showAssignmentRobot.multipleSelection.length<1){
          this.$message({
            message: this.$i18n.t("robotMgt.assign_robot.please_select"),
            type: 'warning',
            duration: 1000
          });
          return;
        }

        if(this.showAssignmentRobot.multipleSelection.length > this.showAssignmentRobot.current_applied_amount){
          this.$message({
            message: this.$i18n.t("robotMgt.assign_robot.exceed_amount"),
            type: 'warning',
            duration: 1000
          });
          return;
        }

        let ids=[];
        for(let i=0;i<this.showAssignmentRobot.multipleSelection.length;i++){
          ids.push(this.showAssignmentRobot.multipleSelection[i].id);
        }

        let params = new URLSearchParams();
        params.append('ids', ids);
        params.append('merchant_id', this.showAssignmentRobot.current_merchantId);
        params.append('application_id', this.showAssignmentRobot.current_applicationId);

        addAdopter(params).then(response => {
          this.$message({
            message: '修改成功',
            type: 'success',
            duration: 1000
          });
          this.showAssignmentRobot.dialogVisible = false;
          this.handleChildrenListApplyRobot();
        });
      },
      handleApplyRobotSelectionChange(val) {
        this.showAssignmentRobot.multipleSelection = val;
      }
    }
  }
</script>


