<template> 
  <div class="app-container">
    <el-card class="filter-container" shadow="never">
      <div>
        <i class="el-icon-search"/>
        <span>{{$i18n.t('components.filter')}}</span>
        <el-button
          style="float: right"
          @click="handleSearchList()"
          type="primary"
          size="small">
          {{$i18n.t('buttons.searchResult')}}
        </el-button>
        <el-button
          style="float: right;margin-right: 15px"
          @click="handleResetSearch()"
          size="small">
          {{$i18n.t('buttons.resetSearch')}}
        </el-button>
      </div>
      <div style="margin-top: 15px">
        <el-form :inline="true" :model="listQuery" size="small" label-width="140px">
          <el-form-item :label="$i18n.t('robotMgt.inputKeyword') + ':'">
            <el-input style="width: 203px" v-model="listQuery.keyword" :placeholder="$i18n.t('robotMgt.robotName')" />
          </el-form-item>
          <el-form-item :label="$i18n.t('robotMgt.inputKeyword') + ':'">
            <el-input style="width: 203px" v-model="listQuery.productSn" :placeholder="$i18n.t('robotMgt.robotType')"/>
          </el-form-item>
<!--          <el-form-item label="机器人分类：">-->
<!--            <el-cascader-->
<!--              clearable-->
<!--              v-model="selectProductCateValue"-->
<!--              :options="productCateOptions">-->
<!--            </el-cascader>-->
<!--          </el-form-item>-->
        </el-form>
      </div>
    </el-card>
    <el-card class="operate-container" shadow="never">
      <i class="el-icon-tickets"/>
      <span>{{$i18n.t('components.dataList')}}</span>
        <el-image style="width: 30px; height: 30px" src="/static/img/google_map.png" @click="handleShowGoogleMap(0, 0)"/>
        <el-image style="width: 30px; height: 30px" src="/static/img/gaode_map.png" @click="handleShowGaodeMap(0, 0)" />
      <el-button
        class="btn-add"
        @click="handleListApplyRobot"
        size="mini">
        {{$i18n.t('buttons.apply')}}
      </el-button>
      <el-button
      class="btn-add"
      @click="handleChildrenListApplyRobot"
      style="margin-right: 10px"
      size="mini">
      {{$i18n.t('buttons.handle_adoption')}}
    </el-button>
    </el-card>
    <div class="table-container">
      <el-table ref="productTable"
                :data="list"
                style="width: 100%"
                v-loading="listLoading"
                border>
        <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
          <template slot-scope="scope">{{scope.row.id}}</template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.photo')" width="120" align="center">
          <template slot-scope="scope">
            <el-image style="height: 110px" :src="scope.row.pic" />
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.robotName')" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.name}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.robotType')" width="120" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.type}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$t('robotMgt.onlineStatus')" width="140" align="center">
          <template slot-scope="scope">
            <p>{{scope.row.rows}}</p>
          </template>
        </el-table-column>
        <el-table-column :label="$t('robotMgt.upProduct')" width="140" align="center">
          <template slot-scope="scope">
            <el-button
              class="btn-add"
              @click="upProduct(scope.row)"
              size="mini">
              {{$t('buttons.view')}}
            </el-button>
          </template>
        </el-table-column>
<!--        <el-table-column :label="$i18n.t('robotMgt.batteryStatus')" width="140" align="center">-->
<!--          <template slot-scope="scope">-->
<!--            <p>{{scope.row.columns}}</p>-->
<!--          </template>-->
<!--        </el-table-column>-->
        <el-table-column :label="$i18n.t('robotMgt.salesStatus')" width="140" align="center">
          <template slot-scope="scope">
            <el-button
              class="btn-add"
              @click="goSalesReporting(scope.row)"
              size="mini">
              {{$t('buttons.view')}}
            </el-button>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.location')" width="160" align="center">
          <template slot-scope="scope">
            <p>
              <el-image
                  style="width: 50px; height: 50px"
                  src="/static/img/google_map.png" @click="handleShowGoogleMap(scope.$index, scope.row)"/>
            </p>
            <p>
              <el-image
                style="width: 50px; height: 50px"
                src="/static/img/gaode_map.png" @click="handleShowGaodeMap(scope.$index, scope.row)"/>
            </p>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.realtimeExploration')" width="160" align="center">
          <template slot-scope="scope">
              <el-button
                class="btn-add"
                @click="goStreetView(scope.$index, scope.row)"
                size="mini">
                {{$t('robotMgt.open_camera')}}
              </el-button>
          </template>
        </el-table-column>
        <el-table-column :label="$i18n.t('robotMgt.qrcode')" width="160" align="center">
          <template slot-scope="scope">
            <p>
              <el-button
                class="btn-add"
                @click="shopQRCodeDialog(scope.row, 'shopping')"
                size="mini">
                <el-image
                  style="width: 20px; height: 20px"
                  fit="fill"
                  :src="QR_code"/>
                <span>{{$t('robotMgt.shopping_qrcode')}}</span>
              </el-button>
            </p>
            <p>
              <el-button
                class="btn-add"
                @click="shopQRCodeDialog(scope.row, 'maintain')"
                size="mini">
                <el-image
                  style="width: 20px; height: 20px"
                  fit="fill"
                  :src="QR_code"/>
                <span>{{$t('robotMgt.maintain_qrcode')}}</span>
              </el-button>
            </p><p>
            <el-button
              class="btn-add"
              @click="shopQRCodeDialog(scope.row, 'refill')"
              size="mini">
              <el-image
                style="width: 20px; height: 20px"
                fit="fill"
                :src="QR_code"/>
              <span>{{$t('robotMgt.refill_qrcode')}}</span>
            </el-button>
          </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination-container">
      <el-pagination
        background
        @size-change="handleMainSizeChange"
        @current-change="handleMainCurrentChange"
        layout="total, sizes,prev, pager, next,jumper"
        :page-size="listQuery.pageSize"
        :page-sizes="[5,10,15]"
        :current-page.sync="listQuery.pageNum"
        :total="total">
      </el-pagination>
    </div>
    <el-dialog
      :title="showQRCode.title"
      :visible.sync="showQRCode.dialogVisible"
      width="30%">
      <div id="qrcode" ref="qrcode" class="qr_center"></div>
      <div style="width: 100%; text-align: center; margin-top: 10px">
        <span>{{$t('robotMgt.usage_qrcode')}}</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="closeQRCode">
          {{$t('buttons.confirm')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.amap')"
      :visible.sync="showGaodeMap.dialogVisible"
      :before-close="handleClose"
      width="60%">
      <div id="GDMap" style="width:100%;  height: 500px;">
      </div>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.gmap')"
      :visible.sync="showGoogleMap.dialogVisible"
      :before-close="handleClose"
      width="60%">
      <div ref="googleMapInstant" style="height: 500px; width: 100%"></div>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.sales.by_today')"
      :visible.sync="showSalesLog.dialogVisible"
      width="65%">
      <span>{{$t('robotMgt.sales.by_today_total')}}: {{showSalesLog.amount}}</span>
      <el-table style="width: 100%;margin-top: 20px"
                :data="showSalesLog.list"
                border>
        <el-table-column
          :label="$t('components.date')"
          width="200"
          align="center">
          <template slot-scope="scope">
            {{scope.row.createTime | formatCreateTime}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.sales.item')"
          align="center">
          <template slot-scope="scope">
            <p>{{$t('robotMgt.sales.item_id')}}: {{scope.row.productId}}</p>
            <p>{{$t('robotMgt.sales.item_name')}}: {{scope.row.productName}}</p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.sales.price')"
          align="center">
          <template slot-scope="scope">
            {{scope.row.price}}
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-container" style="float: none">
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes,prev, pager, next,jumper"
          :page-size="showSalesLog.listQuery.pageSize"
          :page-sizes="[5,10,15]"
          :current-page.sync="showSalesLog.listQuery.pageNum"
          :total="showSalesLog.total">
        </el-pagination>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showSalesLog.dialogVisible = false">
          {{$t('buttons.confirm')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$t('robotMgt.realtimeExploration')"
      :visible.sync="showStreetView.dialogVisible"
      :fullscreen="true">
      <div style="width: 100%; height: 100%; text-align: center">
        <p>You need to sign up the privacy policy to enable this function.</p>
        <p>你需要签署保密协议来开启该功能.</p>
        <video ref="videoFrame" id="videoFrame" width=”100%” height=”500px” autoplay/>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="closeCamera">
          {{$t('buttons.confirm')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$t('robotMgt.up_product.title')"
      :visible.sync="showUpProduct.dialogVisible"
      :fullscreen="true"
      >
      <el-dialog
        width="70%"
        :title="$t('robotMgt.up_product.title')"
        :visible.sync="showUpProduct.innerVisible"
        append-to-body>
        <div class="table-container">
          <el-table :data="showUpProduct.product.list"
                    style="width: 100%"
                    v-loading="showUpProduct.product.listLoading"
                    border>
            <el-table-column :label="$t('product.product_list_id')" width="100" align="center">
              <template slot-scope="scope">{{scope.row.id}}</template>
            </el-table-column>
            <el-table-column :label="$t('product.product_list_pic')" width="120" align="center">
              <template slot-scope="scope"><el-image style="height: 80px" :src="scope.row.pic" fit="scale-down"/></template>
            </el-table-column>
            <el-table-column :label="$t('product.product_list_name')" align="center">
              <template slot-scope="scope">
                <p>{{scope.row.name}}</p>
                <p>{{$t('product.product_list_brand')}}：{{scope.row.brandName}}</p>
              </template>
            </el-table-column>
            <el-table-column :label="$t('product.product_list_price_stock')" width="200" align="center">
              <template slot-scope="scope">
                <p>{{$t('product.product_list_price_price')}}：{{scope.row.price}}</p>
                <p>{{$t('product.product_list_price_stock_id')}}：{{scope.row.productSn}}</p>
              </template>
            </el-table-column>
            <el-table-column :label="$t('product.product_list_operation')" width="160" align="center">
              <template slot-scope="scope">
                <p>
                  <el-button
                    size="mini"
                    type="primary"
                    @click="addToSlot(scope.$index, scope.row)">
                    {{$t('robotMgt.up_product.insert')}}
                  </el-button>
                </p>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="handleProductSizeChange"
            @current-change="handleProductCurrentChange"
            layout="total, sizes,prev, pager, next,jumper"
            :page-size="showUpProduct.product.listQuery.pageSize"
            :page-sizes="[5,10,15]"
            :current-page.sync="showUpProduct.product.listQuery.pageNum"
            :total="showUpProduct.product.total">
          </el-pagination>
        </div>
      </el-dialog>
      <el-table style="width: 100%;margin-top: 20px"
                :data="showUpProduct.list"
                border>
        <el-table-column
          :label="$t('robotMgt.up_product.slot_id')"
          width="200"
          align="center">
          <template slot-scope="scope">
            {{scope.row.slotNum}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.product_id')"
          align="center">
          <template slot-scope="scope">
            <p>{{scope.row.productId}}</p>
            <p>{{scope.row.productName}}</p>
            <p v-if="scope.row.productId !== 0 && scope.row.productId !== null">
              <el-button size="small"
                         type="danger"
                         @click="removeProductFrom(scope.$index,scope.row)">
                {{$t('buttons.remove')}}
              </el-button>
            </p>
            <p v-if="scope.row.productId === 0 || scope.row.productId === null ">
              <el-button size="small"
                         type="primary"
                         @click="addProductTo(scope.$index)">
                {{$t('buttons.add')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.product_pic')"
          align="center">
          <template slot-scope="scope">
            <el-image
              style="width: 100px; height: 100px"
              :src="scope.row.productPic" fit="scale-down" />
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.product_price')"
          align="center">
          <template slot-scope="scope">
            {{scope.row.productPrice}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.stock')"
          align="center">
          <template slot-scope="scope">
            {{scope.row.stock}}
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.alarm')"
          width="100"
          align="center">
          <template slot-scope="scope">
            <el-input type="number" v-model="scope.row.alarm" @input="changeAlarm(scope.$index,$event)" />
          </template>
        </el-table-column>
        <el-table-column
          :label="$t('robotMgt.up_product.operation')"
          align="center">
          <template slot-scope="scope">
            <p v-if="scope.row.productId !== 0 && scope.row.productId !== null">
              <el-button
                size="mini"
                type="danger"
                @click="emptyProductFromSlot(scope.$index)">
                {{$t('robotMgt.up_product.op_clear')}}
              </el-button>
              <el-button
                size="mini"
                type="success"
                @click="fullProductToSlot(scope.$index)">
                {{$t('robotMgt.up_product.op_full')}}
              </el-button>
            </p>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeProductOn">
          {{$t('buttons.cancel')}}
        </el-button>
        <el-button type="primary" @click="confirmProductOn">
          {{$t('buttons.save')}}
        </el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.apply_robot.title')"
      :visible.sync="showApplyRobot.dialogVisible"
      width="95%">
      <el-row>
        <el-col :span="6">
          <el-select v-model="showApplyRobot.applyRobotObj.country" clearable @change="handleChangeCity">
            <el-option
              v-for="item in showApplyRobot.listCountry"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="6">
          <el-select v-model="showApplyRobot.applyRobotObj.city" clearable>
            <el-option
              v-for="item in showApplyRobot.listCity"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="6">
          <el-input type="number" v-model.number="showApplyRobot.applyRobotObj.amount" style="width:70%" />
        </el-col>
        <el-col :span="6">
          <el-button type="primary" @click="handleSubmitAnApply" style="width: 70%">
            {{$t('buttons.apply')}}
          </el-button>
        </el-col>
      </el-row>
      <el-divider></el-divider>
      <div class="table-container">
        <el-table
                  :data="showApplyRobot.list"
                  style="width: 100%"
                  v-loading="showApplyRobot.listLoading"
                  border>
          <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
            <template slot-scope="scope">{{scope.row.id}}</template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.status')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.status}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.amount')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.amount}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.merchant_name')" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.merchantName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.admin_name')" width="120" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_email')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminEmail}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_mobile')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminMobile}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.country')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.country}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.city')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.city}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.create_time')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.createTime | formatCreateTime}}</p>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          background
          @size-change="handleRobotApplySizeChange"
          @current-change="handleRobotApplyCurrentChange"
          layout="total, sizes,prev, pager, next,jumper"
          :page-size="showApplyRobot.listQuery.pageSize"
          :page-sizes="[5,10,15]"
          :current-page.sync="showApplyRobot.listQuery.pageNum"
          :total="showApplyRobot.total">
        </el-pagination>
      </div>
    </el-dialog>
    <el-dialog
      :title="$i18n.t('robotMgt.apply_robot.title')"
      :visible.sync="showApplyRobotChildren.dialogVisible"
      width="95%">
<!--      <el-row>-->
<!--        <el-col :span="6">-->
<!--          <el-select v-model="showApplyRobot.applyRobotObj.country" clearable @change="handleChangeCity">-->
<!--            <el-option-->
<!--              v-for="item in showApplyRobot.listCountry"-->
<!--              :key="item.value"-->
<!--              :label="item.label"-->
<!--              :value="item.value">-->
<!--            </el-option>-->
<!--          </el-select>-->
<!--        </el-col>-->
<!--        <el-col :span="6">-->
<!--          <el-select v-model="showApplyRobot.applyRobotObj.city" clearable>-->
<!--            <el-option-->
<!--              v-for="item in showApplyRobot.listCity"-->
<!--              :key="item.value"-->
<!--              :label="item.label"-->
<!--              :value="item.value">-->
<!--            </el-option>-->
<!--          </el-select>-->
<!--        </el-col>-->
<!--        <el-col :span="6">-->
<!--          <el-input type="number" v-model.number="showApplyRobot.applyRobotObj.amount" style="width:70%" />-->
<!--        </el-col>-->
<!--        <el-col :span="6">-->
<!--          <el-button type="primary" @click="handleSubmitAnApply" style="width: 70%">-->
<!--            {{$t('buttons.apply')}}-->
<!--          </el-button>-->
<!--        </el-col>-->
<!--      </el-row>-->
      <el-divider></el-divider>
      <div class="table-container">
        <el-table
          :data="showApplyRobotChildren.list"
          style="width: 100%"
          v-loading="showApplyRobotChildren.listLoading"
          border>
          <el-table-column :label="$i18n.t('robotMgt.id')" width="100" align="center">
            <template slot-scope="scope">{{scope.row.id}}</template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.status')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.status}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.amount')" width="100" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.amount}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.merchant_name')" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.merchantName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$i18n.t('robotMgt.apply_robot.admin_name')" width="120" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminName}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_email')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminEmail}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.admin_mobile')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.adminMobile}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.country')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.country}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.city')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.city}}</p>
            </template>
          </el-table-column>
          <el-table-column :label="$t('robotMgt.apply_robot.create_time')" width="140" align="center">
            <template slot-scope="scope">
              <p>{{scope.row.createTime | formatCreateTime}}</p>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="pagination-container">
        <el-pagination
          background
          @size-change="handleChildrenRobotApplySizeChange"
          @current-change="handleChildrenRobotApplyCurrentChange"
          layout="total, sizes,prev, pager, next,jumper"
          :page-size="showApplyRobotChildren.listQuery.pageSize"
          :page-sizes="[5,10,15]"
          :current-page.sync="showApplyRobotChildren.listQuery.pageNum"
          :total="showApplyRobotChildren.total">
        </el-pagination>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import {
    fetchRobotByMerchant,
    deleteRobot,
    openCameraAPI,
    closeCameraAPI,
    getCustomerRobotApplication,
    getChildrenRobotApplication,
    applyRobot
  } from '@/api/robot';

  import {
    showSalesLogsAPI,
    showSalesLogTotalAPI,
    fetchProductList,
    AddonProductAPI
  } from '@/api/robot_sales';

  import {
    fetchList
  } from '@/api/product';

  import {formatDate} from '@/utils/date';

  import examplePic from '@/assets/images/example.jpg';
  import QRCode from 'qrcodejs2';
  import QR_code from '@/assets/images/QR_code.png';
  import loadMap from '@/utils/loadGDMap';

  import noPic from '@/assets/images/no_pic.png'

  import SockJS from 'sockjs-client';
  import {getMyMerchantId, isNotBlank} from "../../../utils/validate";

  const defaultListQuery = {
    merchantId: null,
    pageNum: 1,
    pageSize: 5,
    robotId: null
  };
  export default {
    name: "RobotList",
    data() {
      return {
        listQuery: Object.assign({}, defaultListQuery),
        list: null,
        total: null,
        listLoading: false,
        dialogVisible: false,
        selectDialogVisible:false,
        center: { lat: 1.3106, lng: 103.861 },
        center_gaode: [103.861, 1.3106],
        GDMap:null,
        loading:true,
        markers: [],
        markers_gaode: [],
        places: [],
        currentPlace: null,
        GoogleMap:null,
        googleMap:null,
        showGaodeMap: {
          dialogVisible:false
        },
        showGoogleMap: {
          dialogVisible:false
        },
        instantPosition:[],
        showSalesLog: {
          dialogVisible:false,
          listLoading: false,
          listQuery: Object.assign({}, defaultListQuery),
          list: null,
          total: 0,
          amount: 0
        },
        showUpProduct: {
          robotId:0,
          innerVisible: false,
          dialogVisible: false,
          listLoading: false,
          listQuery: Object.assign({}, defaultListQuery),
          list: null,
          originalShopList:null,
          slotCapMax:0,
          amount: 0,
          product:{
            slotId: 0,
            list: null,
            total: null,
            listLoading: false,
            listQuery: {
              pageSize:5,
              pageNum:1
            }
          }
        },
        showStreetView: {
          dialogVisible:false,
          robotId: '',
          logList : null,
          total:0
        },
        showApplyRobot: {
          dialogVisible:false,
          listLoading:false,
          listCountry:[
            {label:'Singapore',value:'singapore'},
            {label:'China',value:'china'}
          ],
          listCity:[],
          applyRobotObj: {
            country:'',
            city:'',
            amount:0,
            merchantId:0,
            adminId:0,
          },
          list:null,
          total:0,
          listQuery:{
            merchantId:0,
            status:null,
            pageSize:5,
            pageNum:1
          }
        },
        showApplyRobotChildren: {
          dialogVisible:false,
          listLoading:false,
          listCountry:[
            {label:'Singapore',value:'singapore'},
            {label:'China',value:'china'}
          ],
          listCity:[],
          applyRobotObj: {
            country:'',
            city:'',
            amount:0,
            merchantId:0,
            adminId:0,
          },
          list:null,
          total:0,
          listQuery:{
            userId:0,
            status:null,
            pageSize:5,
            pageNum:1
          }
        },
        websock:null,
        sockjs:null,
        showQRCode: {
          dialogVisible:false,
          title: '',
          hostDomain: ''
        },
        qrcode:null,
        examplePic,
        noPic,
        QR_code
      }
    },
    created() {
      this.getList();
      this.initSocket();
      this.showQRCode.hostDomain = window.location.origin;
    },
    updated() {

    },
    watch: {
      selectProductCateValue: function (newValue) {
        if (newValue != null && newValue.length === 2) {
          this.listQuery.productCategoryId = newValue[1];
        } else {
          this.listQuery.productCategoryId = null;
        }
      },
      flightPlanCoordinates(val, oldVal) {
        return this.instantPosition = val
      },
    },
    filters: {
      formatCreateTime(time) {
        let date = new Date(time);
        return formatDate(date, 'yyyy-MM-dd hh:mm')
      }
    },
    methods: {
      initSocket () {
        //建立连接，listen为websocket的方法
        this.sockjs = new SockJS(`${process.env.BASE_API}/gt-vending-websocket-user/sockjs/`,null, {server:this.$store.getters.id});
        console.log(this.sockjs);
        this.listen(this.sockjs);
      },
      listen (sockjs) {
        sockjs.onopen = () => {
          console.log('启动websocket');
          sockjs.send({
            userId:this.$store.getters.id
          });
        };
        sockjs.onmessage = (e) => {
          try {

            let response = JSON.parse(e.data);
            console.log(response);
            this.instantPosition.lat = Number(response.latitude);
            this.instantPosition.lng = Number(response.longitude);
            this.marker.setMap(null);
            this.makeMapMarker();

          } catch (e) {
             console.log(e);
          }

        };
        sockjs.onclose = (e) => {
          console.log(e);
          console.log('关闭websocket');
        }
      },
      getList() {

        if (this.$store.getters.id === 1) {
          this.listQuery.merchantId = 1;
        } else {
          let merchantId = this.$store.getters.merchants;
          if(merchantId === undefined || merchantId === null) {
            this.$message({
              type: 'error',
              message: this.$i18n.t('messages.no_merchant'),
              duration:3000
            });

            return;

          } else {
            this.listQuery.merchantId = merchantId[0].merchantId;
          }
        }

        this.listLoading = true;
        fetchRobotByMerchant(this.listQuery).then(response => {
          this.listLoading = false;
          this.list = response.data.list;
          this.total = response.data.total;
        });
      },
      getSalesLogList() {
        this.showSalesLog.listLoading = true;

        showSalesLogsAPI(this.showSalesLog.listQuery).then(response => {
          this.showSalesLog.listLoading = false;
          this.showSalesLog.list = response.data.list;
          this.showSalesLog.total = response.data.total;
        });

        showSalesLogTotalAPI(this.showSalesLog.listQuery.robotId).then(response => {
          this.showSalesLog.amount = response.data;
        });
      },
      initMap() {
        this.loading = true;
        loadMap().then(AMap => {
            this.GDMap = new AMap.Map('GDMap', {
              zoom: 6,
              center: [116.397428, 39.90923],
              resizeEnable: true,
            });
            console.log(this.GDMap);
            this.GDMap.on('complete', () => {
              console.log('地图加载成功！');
              // this.loading = false
            })
        }).catch(e => {
            // this.loading = false;
            console.log('地图加载失败！', e);
        });
      },
      shopQRCodeDialog(row, type) {
          this.showQRCode.dialogVisible = true;

          let url = '';
          switch (type) {
              case "shopping":
                this.showQRCode.title = this.$i18n.t("robotMgt.shopping_qrcode");
                url = `/homepage?loginMethod=member&robotId=${row.id}&loginSource=app&loginUsername=guest&loginPassword=guest&lang=${this.$i18n.locale}`;
                break;
              case "refill":
                this.showQRCode.title = this.$i18n.t("robotMgt.refill_qrcode");
                url = `/homepage?loginMethod=refill&robotId=${row.id}&loginSource=app&lang=${this.$i18n.locale}&loginUsername=gt_admin&loginPassword=macro123`;
                break;
              case "maintain":
                this.showQRCode.title = this.$i18n.t("robotMgt.maintain_qrcode");
                url = `/homepage?loginMethod=maintain&robotId=${row.id}&loginSource=app&lang=${this.$i18n.locale}&loginUsername=gt_admin&loginPassword=macro123`;
                break;
              default:
                this.showQRCode.title = this.$i18n.t("robotMgt.shopping_qrcode");
                url = `/homepage?loginMethod=member&robotId=${row.id}&loginSource=app&loginUsername=guest&loginPassword=guest&lang=${this.$i18n.locale}`;
                break;
          }
          setTimeout( function () {
            document.getElementById("qrcode").innerHTML = "";
            this.qrcode = new QRCode('qrcode', {
              width: 200, // 设置宽度，单位像素
              height: 200, // 设置高度，单位像素
              text: this.showQRCode.hostDomain
                +  url  // 设置二维码内容或跳转地址
            })
          }.bind(this),200);
      },
      closeQRCode() {
        document.getElementById("qrcode").innerHTML = "";
        this.qrcode.clear();
        this.qrcode = null;
        this.showQRCode.dialogVisible = false;
      },
      handleSearchList() {
        this.listQuery.pageNum = 1;
        this.getList();
      },
      handleSizeChange(val) {
        this.showSalesLog.listQuery.pageNum = 1;
        this.showSalesLog.listQuery.pageSize = val;
        this.getSalesLogList();
      },
      handleCurrentChange(val) {
        this.showSalesLog.listQuery.pageNum = val;
        this.getSalesLogList();
      },
      handleProductSizeChange(val) {
        this.showUpProduct.product.listQuery.pageNum = 1;
        this.showUpProduct.product.listQuery.pageSize = val;
        this.getProductListFromPms();
      },
      handleProductCurrentChange(val) {
        this.showUpProduct.product.listQuery.pageNum = val;
        this.getProductListFromPms();
      },
      handleMainSizeChange(val) {
        this.listQuery.pageNum = 1;
        this.listQuery.pageSize = val;
        this.getList();
      },
      handleMainCurrentChange(val) {
        this.listQuery.pageNum = val;
        this.getList();
      },
      handleRobotApplySizeChange(val) {
        this.showApplyRobot.listQuery.pageNum = 1;
        this.showApplyRobot.listQuery.pageSize = val;
        this.handleListApplyRobot();
      },
      handleRobotApplyCurrentChange(val) {
        this.showApplyRobot.listQuery.pageNum = val;
        this.handleListApplyRobot();
      },
      handleChildrenRobotApplySizeChange(val) {
        this.showApplyRobotChildren.listQuery.pageNum = 1;
        this.showApplyRobotChildren.listQuery.pageSize = val;
        this.handleListApplyRobot();
      },
      handleChildrenRobotApplyCurrentChange(val) {
        this.showApplyRobotChildren.listQuery.pageNum = val;
        this.handleListApplyRobot();
      },
      handleChangeCity() {
        let cityList = {
          singapore: [
            {label: 'Singapore', value: 'Singapore'},
          ],
          china: [
            {label: 'Beijing', value: 'beijing'},
            {label: 'shanghai', value: 'shanghai'},
            {label: 'Shenzhen', value: 'shenzhen'},
            {label: 'Hongkong', value: 'hongkong'},
          ],
        };

        this.showApplyRobot.listCity = cityList[this.showApplyRobot.applyRobotObj.country];

      },
      handleListApplyRobot() {
        let merchantId = this.$store.getters.merchants;
        if(merchantId === null) {
          this.$message({
            type: 'error',
            message: this.$i18n.t('messages.no_merchant'),
            duration:1000
          });
          return;
        }
        this.showApplyRobot.listQuery.merchantId = merchantId[0].merchantId;
        this.showApplyRobot.dialogVisible = true;
        this.showApplyRobot.listLoading = true;

        getCustomerRobotApplication(this.showApplyRobot.listQuery).then(response => {
            this.showApplyRobot.listLoading = false;
            this.showApplyRobot.list = response.data.list;
            this.showApplyRobot.total = response.data.total;
        });
      },
      handleChildrenListApplyRobot() {
        this.showApplyRobotChildren.listQuery.userId = this.$store.getters.id;
        this.showApplyRobotChildren.dialogVisible = true;
        this.showApplyRobotChildren.listLoading = true;

        getChildrenRobotApplication(this.showApplyRobotChildren.listQuery).then(response => {
          this.showApplyRobotChildren.listLoading = false;
          this.showApplyRobotChildren.list = response.data.list;
          this.showApplyRobotChildren.total = response.data.total;
        });
      },
      handleSubmitAnApply() {
        let hasApplication = false;
        if(this.showApplyRobot.list) {
          this.showApplyRobot.list.forEach(item=>{
            if(item.status!==1) {
              hasApplication = true;
            }
          });
        }

        if(hasApplication) {
          this.$message({
            type: 'warn',
            message: this.$i18n.t('messages.has_application'),
            duration:1000
          });
          return;
        }

        let merchantId = this.$store.getters.merchants;
        if(merchantId === null) {
          this.$message({
            type: 'error',
            message: this.$i18n.t('messages.no_merchant'),
            duration:1000
          });
          return;
        }

        if(!isNotBlank(this.showApplyRobot.applyRobotObj.country)) {
          this.$message({
            type: 'error',
            message: this.$i18n.t('messages.parameter_error'),
            duration:1000
          });
          return;
        }

        if(!isNotBlank(this.showApplyRobot.applyRobotObj.city)) {
          this.$message({
            type: 'error',
            message: this.$i18n.t('messages.parameter_error'),
            duration:1000
          });
          return;
        }

        if(this.showApplyRobot.applyRobotObj.amount < 1) {
          this.$message({
            type: 'error',
            message: this.$i18n.t('messages.parameter_error'),
            duration:1000
          });
          return;
        }

        this.showApplyRobot.applyRobotObj.merchantId = merchantId[0].merchantId;
        this.showApplyRobot.applyRobotObj.adminId = this.$store.getters.id;


        applyRobot(this.showApplyRobot.applyRobotObj).then(response=>{
          if(response.code===200) {
            this.$message({
              type: 'success',
              message: this.$i18n.t('messages.submitSuccess'),
              duration:1000
            });
            this.handleListApplyRobot();
          } else {
            this.$message({
              type: 'error',
              message: this.$i18n.t('messages.submitSuccess'),
              duration:1000
            });
          }
        });

      },
      handleResetSearch() {
        this.selectProductCateValue = [];
        this.listQuery = Object.assign({}, defaultListQuery);
      },
      handleDelete(index, row){
        this.$confirm('是否要进行删除操作?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          deleteRobot(row.id).then(response=>{
            location.reload();
          });
        });
      },
      handleUpdateProduct(index,row){
        this.$router.push({ path:'/rms/updateRobot',query:{id:row.id}});
      },
      handleShowGoogleMap(index,row) {
        console.log("handleShowProduct",row);
        this.instantPosition = {lat:1.3106, lng:103.861};

        this.showGoogleMap.dialogVisible = true;

        setTimeout(async ()=>{
          this.GoogleMap = await this.$loadGoogleMapsApi();
          this.googleMap = new this.GoogleMap.Map(this.$refs.googleMapInstant, {
            center: this.center,
            zoom: 12,
            mapTypeId: this.GoogleMap.MapTypeId.ROADMAP
          });
        },1000);
        setTimeout(()=>this.makeMapMarker(),1500);

      },
      makeMapMarker() {
        this.marker = new MarkerWithLabel({
          position: this.instantPosition,
          icon: '../../../static/img/gtrobot.png',
          draggable: false, //不可拖动
          map: this.googleMap
        });
      },
      handleShowGaodeMap(index,row){
        console.log("handleShowProduct",row);
        this.showGaodeMap.dialogVisible=true;
      },
      handleShowVerifyDetail(index,row){
        console.log("handleShowVerifyDetail",row);
      },
      handleShowLog(index,row){
        console.log("handleShowLog",row);
      },
      handleClose(done) {
        document.querySelector("body").removeAttribute("style");
        done();
      },
      goSalesReporting(row) {
        this.showSalesLog.dialogVisible = true;
        this.showSalesLog.listQuery.robotId = row.id;
        this.getSalesLogList();

      },
      upProduct(row) {
        this.showUpProduct.dialogVisible = true;
        this.showUpProduct.robotId = row.id;
        this.showUpProduct.slotCapMax = row.rows;
        this.getProductOnRobotList(row);
      },
      removeProductFrom(index) {
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.showUpProduct.list[index].productName = "";
          this.showUpProduct.list[index].productPrice = 0;
          this.showUpProduct.list[index].productPic = this.noPic;
          this.showUpProduct.list[index].stock = 0;
          this.showUpProduct.list[index].productId = 0;
          this.showUpProduct.list[index].alarm = 0;

          let rowId = index + 1;
          for(let i=0; i < this.showUpProduct.originalShopList.length; i++) {
              if( rowId === this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow) {
                this.showUpProduct.originalShopList[i].rmsRobotShop.productId = 0;
                this.showUpProduct.originalShopList[i].rmsRobotShop.amount = 0;
              }
          }
        });
      },
      emptyProductFromSlot(index) {
        this.showUpProduct.list[index].stock = 0;
        let rowId = index + 1;
        for(let i=0; i < this.showUpProduct.originalShopList.length; i++) {
          if( rowId === this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow) {
            this.showUpProduct.originalShopList[i].rmsRobotShop.amount = 0;
          }
        }
      },
      fullProductToSlot(index) {
        let rowId = index + 1;
        for(let i = 0; i < this.showUpProduct.originalShopList.length; i++) {
          if( rowId === this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow) {
            this.showUpProduct.list[index].stock
              = this.showUpProduct.slotCapMax;
            this.showUpProduct.originalShopList[i].rmsRobotShop.amount
              = this.showUpProduct.slotCapMax;
          }
        }
      },
      addProductTo(index) {
        this.showUpProduct.innerVisible = true;
        this.showUpProduct.product.slotId = index + 1;
        this.getProductListFromPms();
      },
      getProductListFromPms() {
        fetchList(this.showUpProduct.product.listQuery).then(response => {
          this.listLoading = false;
          this.showUpProduct.product.list = response.data.list;
          this.showUpProduct.product.total = response.data.total;
        });
      },
      getProductOnRobotList(row) {
        let productList = [];
        fetchProductList(row.id).then(response=> {
            this.showUpProduct.originalShopList = response.data?response.data:[];
            let listData = response.data?response.data:[];
            // console.log("response.data--------->",listData);
            for(let i = 0; i < row.rows; i++) {
              let slotId = i+1;
              for(let j = 0; j < listData.length; j++) {
                if(listData[j] && slotId === listData[j].rmsRobotShop.whichRow) {
                  productList.push({
                    slotNum: slotId,
                    productId: listData[j].id,
                    productName: listData[j].name,
                    productPrice: listData[j].price,
                    productPic: listData[j].id === 0 || listData[j].id === null ? this.noPic : listData[j].pic,
                    stock: listData[j].rmsRobotShop.amount,
                    alarm: listData[j].rmsRobotShop.alarm,
                  });
                  break;
                }
              }
              if(!productList[i]) {
                productList.push({
                  slotNum: slotId,
                  productId: 0,
                  productName: "",
                  productPic: this.noPic,
                  productPrice: 0,
                  stock: 0,
                  alarm: 0,
                })
              }
            }
            this.showUpProduct.list = productList;
            // console.log("this.showUpProduct.list---->",this.showUpProduct.list);
        });
      },
      addToSlot(index, row) {
        // console.log(this.showUpProduct.product.slotId);
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].productName = row.name;
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].productPrice = row.price;
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].productPic = row.pic;
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].stock = 10;
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].slotNum = this.showUpProduct.product.slotId;
        this.showUpProduct.list[this.showUpProduct.product.slotId-1].productId = row.id;

        for(let i = 0; i < this.showUpProduct.originalShopList.length; i++) {
          if(this.showUpProduct.product.slotId === this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow) {
            this.showUpProduct.originalShopList[i].rmsRobotShop.productId = Number(row.id);
            this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow = this.showUpProduct.product.slotId;
            this.showUpProduct.originalShopList[i].rmsRobotShop.amount
              = this.showUpProduct.originalShopList[i].rmsRobotShop.maxAmount;
            this.showUpProduct.list[this.showUpProduct.product.slotId-1].alarm
              = this.showUpProduct.originalShopList[i].rmsRobotShop.alarm;
            this.showUpProduct.innerVisible = false;
            return;
          }
        }
        this.showUpProduct.originalShopList.push({
          'id': Number(row.id),
          'name': row.name,
          'pic': row.pic,
          'rmsRobotShop': {
            'id': 0,
            'robotId': Number(this.showUpProduct.robotId),
            'whichColumn': 1,
            'whichRow': this.showUpProduct.product.slotId,
            'amount': 0,
            'maxAmount': 0,
            'productId': Number(row.id),
            'alarm':0
          }
        });

        this.showUpProduct.innerVisible = false;
      },
      changeAlarm(index,val) {
        if(val<0) val = 0;
        let rowId = index + 1;
        for(let i=0; i < this.showUpProduct.originalShopList.length; i++) {
          if( rowId === this.showUpProduct.originalShopList[i].rmsRobotShop.whichRow) {
            if(val >this.showUpProduct.slotCapMax) val
              = this.showUpProduct.slotCapMax;
            this.showUpProduct.originalShopList[i].rmsRobotShop.alarm = Number(val);
            this.showUpProduct.list[index].alarm = Number(val);
          }
        }
      },
      confirmProductOn() {
        let shopAddon = [];
        console.log(this.showUpProduct.originalShopList);

        this.showUpProduct.originalShopList.forEach(item => {
          shopAddon.push(item.rmsRobotShop);
        });

        let data = {
          'rmsRobotShops':shopAddon
        };
        // console.log("shop on data new------>", data);
        this.showUpProduct.dialogVisible = false;
        AddonProductAPI(data).then(r=>{
          this.showUpProduct.originalShopList = [];
          this.showUpProduct.list = [];
          this.showUpProduct.robotId = 0;
          this.$message({
            type: 'success',
            message: this.$i18n.t('messages.submitSuccess'),
            duration:1000
          });
        });
      },
      closeProductOn() {
        this.showUpProduct.originalShopList = [];
        this.showUpProduct.list = [];
        this.showUpProduct.robotId = 0;
        this.showUpProduct.dialogVisible = false;
      },
      goStreetView(index, row) {
        this.showStreetView.dialogVisible = true;
        this.showStreetView.robotId = row.id;

        openCameraAPI(row.id).then(()=>{
          setTimeout(() => {
            console.log(this.$refs);
            console.log(this.$refs.videoFrame.contentWindow);
            if(this.$refs.videoFrame.contentWindow) {
              this.$refs.videoFrame.contentWindow.location.href = row.ipAddress;
            } else {
              this.$refs.videoFrame.src = row.ipAddress;
            }
          },1000);
        });
      },
      closeCamera() {
        closeCameraAPI(this.showStreetView.robotId).then(()=>{
           console.log("close camera");
        });
        this.showStreetView.dialogVisible = false;
        this.showStreetView.robotId = '';
      },
      setRobotsPosition(index, row) {
        markers = [];

      }
    }
  }
</script>

<style>
  .el-dialog{
    display: flex;
    flex-direction: column;
    margin:0 !important;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*height:600px;*/
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
  }
  .el-dialog .el-dialog__body{
    flex:1;
    overflow: auto;
  }
  .qr_center {
    text-align: center;
    width: 100%;
  }
  .qr_center img {
    display: inline !important;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
</style>
