<template> 
  <robot-detail :is-edit='true'/>
</template>
<script>
  import RobotDetail from './components/RobotDetail'
  export default {
    name: 'updateRobot',
    components: { RobotDetail }
  }
</script>
<style>
</style>
