<template>
  <scroll-bar v-if="loginSourceHide">
    <el-menu
      mode="vertical"
      :show-timeout="200"
      :default-active="activeMenu"
      :collapse="isCollapse"
      background-color="#304156"
      text-color="#bfcbd9"
      active-text-color="#409EFF"
    >
      <sidebar-item :routes="routes"/>
<!--      <sidebar-item v-for="route in permission_routes" :key="route.path" :item="route" :base-path="route.path" />-->
    </el-menu>
  </scroll-bar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'
import ScrollBar from '@/components/ScrollBar'
import {getCookie} from '@/utils/support';

export default {
  components: { SidebarItem, ScrollBar },
  computed: {
    ...mapGetters([
      'permission_routes',
      'sidebar'
    ]),
    routes() {
        return this.$store.getters.permission_routes
    },
    activeMenu() {
        const route = this.$route;
        const { meta, path } = route;
        // if set path, the sidebar will highlight the path you set
        if (meta.activeMenu) {
            return meta.activeMenu
        }
        return path
    },
    isCollapse() {
      return !this.sidebar.opened
    }
  },
  data() {
    return {
      loginSourceHide:true,
    }
  },
  created() {
    let login_source = getCookie("login_source");
    console.log(login_source);
    if(login_source && login_source === "app") {
      this.loginSourceHide = false;
    }
  },
}
</script>
